.choice-program {
  position: relative;
  padding: 27px 20px 164px;
  color: #ffffff;
  z-index: 1;
  background: url("/img/choice-program-bg.png") no-repeat;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(104, 183, 56, 0.85);
  }

  &__title {
    margin: 0;
  }

  &__info {
    margin: 0;
    margin-top: 25px;
  }
}

.choice-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.choice-info {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
