.choice-program {
  position: relative;
  padding: 27px 20px 164px;
  width: 280px;
  color: #ffffff;

  &__title {
    margin: 0;
  }

  &__info {
    margin: 0;
    margin-top: 25px;
  }
}

@media (min-width: $tablet-width) {
  .choice-program {
    width: 416px;
    padding: 0 0 0 87px;
    background: none;
    color: #000000;

    &::before {
      background-color: transparent;
    }

    &__info {
      margin: 0;
      margin-left: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .choice-program {
    padding: 0;

    &__title {
      margin: 45px;
    }

    &__info {
      margin: 0;
    }
  }
}
