.choice-button {
  display: block;
  font-family: inherit;
  padding: 11px 26px;
  width: calc(100% - 92px);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
}
