.choice-container {
  min-height: 480px;
  position: relative;

  &__promo {
    position: absolute;
    top: 167px;
    margin-left: 20px;
  }

  &__button {
    margin: 138px 20px 0;
  }
}

.choice-button {
  font-family: inherit;
  padding: 11px 26px;
  position: absolute;
  width: calc(100% - 92px);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #68B738;
}
