.choice-promo {
  z-index: 2;

  &__image {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .choice-promo {
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .choice-promo {
    z-index: 3;
  }
}
