.checkbox-mark {
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;

  &:hover {
    border-color: #bababa;
  }

  &:active {
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .checkbox-mark {
    width: 38px;
    height: 38px;
  }
}
