.checkbox-title {
  display: flex;
  align-items: center;
  &__mark {
    margin-right: 15px;
  }
  &__name {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.checkbox-mark {
  width: 24px;
  height:24px;
  border: 1px solid #cdcdcd;
}
