.user-additionally {
  padding: 0 0 34px;
  margin: 0 auto;

  &__head {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #68b738;
    }
  }

  &__title {
    margin: 0 auto;
    position: relative;
    margin-bottom: 34px;
    font-family: inherit;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    width: 280px;

    span {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -20px;
      background-color: #ffffff;
      z-index: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-additionally {
    padding: 0 0 54px;

    &__head {
      &::before {
        top: 21px;
      }
    }

    &__title {
      margin: 0 auto 57px;
      font-size: 36px;
      line-height: 36px;
      width: 699px;
      padding-left: 70px;

      span {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: -40px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .user-additionally {
    padding: 0 0 61px;

    &__head {
      &::before {
        top: 22px;
      }
    }

    &__title {
      margin: 0 auto 58px;
      width: 1330px;
      padding-left: 110px;

      span {
        padding-right: 42px;
      }
    }
  }
}
