.user-additionally {
  padding: 0 20px 34px;

  &__title {
    margin: 0;
    position: relative;
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: -20px;
      height: 2px;
      width: 136px;
      background-color: #68b738;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-additionally {
    padding: 0 133px 54px 70px;

    &__title {
      margin-bottom: 57px;
      font-size: 36px;
      line-height: 36px;

      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: -70px;
        height: 2px;
        width: 30px;
        background-color: #68b738;
      }

      &::after {
        top: 22px;
        right: -133px;
        width: 446px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .user-additionally {
    padding: 0 134px 61px 110px;

    &__title {
      &::before {
        left: -110px;
        width: 70px;
      }

      &::after {
        top: 23px;
        right: -134px;
        width: 1078px;
      }
    }
  }
}
