.user-additionally {
  padding: 0 0 34px;

  &__title {
    margin: 0;
    position: relative;
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    margin-left: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 0;
      height: 2px;
      width: 136px;
      background-color: #68b738;
    }
  }

  &__checkbox {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .user-additionally {
    padding: 0 0 54px;

    &__title {
      margin-left: 0;
      margin-bottom: 57px;
      font-size: 36px;
      line-height: 36px;
      padding-left: 70px;

      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: 0;
        height: 2px;
        width: 30px;
        background-color: #68b738;
      }

      &::after {
        top: 22px;
        right: 0;
        width: 446px;
      }
    }

    &__checkbox {
      margin-left: 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-additionally {
    padding: 0 0 61px;

    &__title {
      padding-left: 110px;

      &::before {
        left: 0;
        width: 70px;
      }

      &::after {
        top: 23px;
        right: 0;
        width: 1078px;
      }
    }

    &__checkbox {
      margin-left: 110px;
    }
  }
}
