.advantage {
  padding: 20px 20px 49px;
  width: 280px;
  margin: 0 auto;

  &__title {
    margin: 0;
    margin-left: 1px;
    margin-bottom: 40px;
    font-family: inherit;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
  }
}

@media (min-width: $tablet-width) {
  .advantage {
    padding: 0 109px 9px 30px;
    width: 629px;

    &__title {
      font-size: 60px;
      line-height: 60px;
      margin-left: 1px;
      margin-bottom: 33px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    padding: 0 106px 69px 110px;
    width: 1224px;

    &__title {
      font-size: 60px;
      line-height: 60px;
    }
  }
}
