.advantage-item {
  display: flex;

  &__info {
    font-family: "Arial", sans-serif;
    color: #444444;
    margin-left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .advantage-item {
    position: relative;
    flex-direction: column;
    margin-bottom: 37px;

    &__info {
      font-size: 16px;
      line-height: 24px;
      margin-top: 31px;
      margin-bottom: 0;
      margin-left: 0;
      padding-bottom: 57px;
    }

    &:nth-child(1) {
      min-width: 230px;
      max-width: 230px;
    }

    &:nth-child(2) {
      min-width: 246px;
      max-width: 246px;
    }

    &:nth-child(3) {
      min-width: 247px;
      max-width: 247px;
    }

    &:nth-child(4) {
      min-width: 249px;
      max-width: 249px;
    }

    &:nth-child(1)::after {
      content: "1";
      z-index: -1;
      position: absolute;
      left: 118px;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }

    &:nth-child(2)::after {
      content: "2";
      z-index: -1;
      position: absolute;
      left: 111px;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }

    &:nth-child(3)::after {
      content: "3";
      z-index: -1;
      position: absolute;
      left: 113px;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }

    &:nth-child(4)::after {
      content: "4";
      z-index: -1;
      position: absolute;
      left: 113px;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage-item {
    margin-bottom: 0;

    &__info {
      margin-left: 0;
    }
  }
}
