body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  min-height: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
  color: #000000;
  background-color: #ffffff;
}
