// @use "../variables.scss" as *;


body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 auto;
  max-width: $desktop-width;
  min-width: $mobile-width;
  width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  body {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: $desktop-width;
  }
}
