.button-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 33px;
  text-align: center;

  &__button {
    display: block;
  }

  &__info {
    margin: 0;
    margin-top: 21px;
    font-family: "Arial", sans-serif;
    line-height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .button-container {
    padding: 0 174px 72px 71px;
    min-width: 523px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__info {
      margin: 0;
      margin-top: -4px;
      font-size: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button-container {
    padding: 0 500px 82px 111px;
    min-width: 829px;

    &__info {
      margin: 0;
    }
  }
}
