.card-button {
  display: block;
  background-color: #68b738;
  padding: 10px 109px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  &--new {
    background-color: #f2f2f2;
    color: #444444;
    padding: 10px 94px;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .card-button {
    padding: 10px 93px;
    margin-left: 3px;

    &--new {
      padding: 10px 79px;
      margin-left: -1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card-button {
    padding: 10px 39px;
    width: calc(100% - 83px);

    &--new {
      width: calc(100% - 78px);
      margin-left: 0;
    }
  }
}
