.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 112px;
}

@media (min-width: $tablet-width) {
  .card-img {
    width: 168px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .card-img {
    width: 172px;
    height: 196px;
  }
}
