.catalog-item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding: 20px 20px 24px;
  border-bottom: 1px solid #ebebeb;

  &__button {
    margin-top: 12px;
  }

  &:first-child {
    border-top: 1px solid #ebebeb;
  }

  &:nth-child(2) .card-img__img,
  &:nth-child(4) .card-img__img,
  &:nth-child(6) .card-img__img {
    margin-top: 13px;
  }

  &:nth-child(3) .card-img__img,
  &:nth-child(7) .card-img__img {
    margin-top: 21px;
  }

  &:nth-child(5) .card-img__img {
    margin-top: 26px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    border: none;
    max-width: 252px;
    padding: 0 36px 39px;
    background: linear-gradient(#ffffff 73px, #f2f2f2 72px, #f2f2f2 100%);

    &:first-child {
      border-top: none;

      .card-img__img {
        margin-top: 32px;
      }
    }

    &__button {
      margin-top: 34px;
    }

    &:nth-child(3) .card-img__img,
    &:nth-child(7) .card-img__img {
      margin-top: 31px;
    }

    &:nth-child(4) .card-img__img,
    &:nth-child(6) .card-img__img {
      margin-top: 5px;
    }

    &:nth-child(5) .card-img__img {
      margin-top: 33px;
    }

    &:nth-child(7) .title-wrapper {
      margin-top: 35px;

      &__title {
        margin-left: -2px;
      }

      &__list {
        margin-left: -1px;

        .info-item:nth-child(2) .info-item__definition {
          margin-right: -5px;
        }

        .info-item:nth-child(3) .info-item__definition {
          margin-right: -4px;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    max-width: 180px;
    background: linear-gradient(#ffffff 80px, #f2f2f2 80px, #f2f2f2 100%);

    &__button {
      margin-top: 32px;
    }

    &:nth-child(7) .title-wrapper {
      margin-top: 48px;
    }

    &:nth-child(1) .card-img__img,
    &:nth-child(3) .card-img__img,
    &:nth-child(7) .card-img__img {
      margin-top: 36px;
    }

    &:nth-child(2) .card-img__img {
      margin-top: 11px;
      margin-left: 3px;
    }

    &:nth-child(4) .card-img__img {
      margin-top: 5px;
      margin-left: 3px;
    }

    &:nth-child(5) .card-img__img {
      margin-top: 38px;
    }

    &:nth-child(6) .card-img__img {
      margin-top: 3px;
      margin-left: 3px;
    }
  }
}
