.catalog-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    margin: 0 auto;
    width: 708px;
    grid-template-columns: 324px 324px;
    row-gap: 67px;
    column-gap: 60px;

    &__new {
      margin-top: 75px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    width: 1220px;
    grid-template-columns: 245px 245px 245px 245px;
    row-gap: 63px;
    column-gap: 80px;

    &__new {
      margin-top: 81px;
    }
  }
}
