.info-item {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  width: 100%;

  &__term {
    margin: 0;
    padding: 0;
    text-align: start;
  }

  &__definition {
    margin: 0;
    padding: 0;
    text-align: end;
  }

  &:nth-child(2) .info-item__definition {
    margin-right: -3px;
  }

  &:nth-child(3) .info-item__definition {
    text-transform: uppercase;
    margin-right: -3px;
  }
}

@media (min-width: $tablet-width) {
  .info-item {
    font-size: 16px;
    line-height: 16px;
    padding: 7px 1px;
    margin-left: -2px;
    border-bottom: 1px solid #cdcdcd;

    &:nth-child(2) {
      padding-bottom: 8px;
    }

    &:nth-child(3) {
      padding-bottom: 8px;
    }

    &:nth-child(3) .info-item__definition {
      margin-right: -2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .info-item {
    &:nth-child(1) {
      padding-top: 6px;
      padding-bottom: 8px;
    }

    &:nth-child(2) {
      padding-top: 7px;
      padding-bottom: 8px;
    }

    &:nth-child(2) .info-item__definition {
      margin-right: -2px;
    }
  }
}
