.item-wrapper {
  display: flex;
}

@media (min-width: $tablet-width) {
  .item-wrapper {
    flex-direction: column;
    align-items: center;

    &__title {
      margin-top: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .item-wrapper {
    &__title {
      margin-top: 47px;
      margin-left: 1px;
    }
  }
}
