.title-wrapper {
  display: flex;
  flex-direction: column;
  width: 140px;
  min-height: 112px;

  &__list {
    margin: 0;
    margin-top: 14px;
  }
}

@media (min-width: $tablet-width) {
  .title-wrapper {
    align-items: center;
    width: 251px;
    min-height: 157px;

    &__list {
      margin: 0;
      margin-top: 14px;
    }
  }
}

@media (min-width: $desktop-width) {
  .title-wrapper {
    width: 169px;
    min-height: 156px;

    &__list {
      margin: 0;
      margin-top: 19px;
      margin-left: 2px;
    }
  }
}
