.user-data {
  display: flex;
  flex-direction: column;

  &__container .user-name {
    padding: 0 20px 14px;
  }
}

@media (min-width: $tablet-width) {
  .user-data {
    &__container .user-name {
      padding: 0 67px 0 71px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-data {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 112px 42px;
    width: 1216px;
    margin: 0 auto;

    &__container .user-name {
      padding: 0;
    }
  }
}
