.slim-container {
  padding: 20px 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .slim-container {
    padding: 1px 20px 45px 20px;
  }
}

@media (min-width: $desktop-width) {
  .slim-container {
    padding: 82px 110px 71px 110px;
  }
}
