.slim-link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .slim-link {
    font-size: 20px;
    line-height: 30px;
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .slim-link {
    font-size: 20px;
    line-height: 30px;
    order: 4;
  }
}
