.slim-info {
  font-family: "Arial", sans-serif;
  padding-bottom: 22px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .slim-info {
    order: 3;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .slim-info {
    order: 3;
    width: 465px;
    padding-left: 0;
  }
}
