.slim-item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 18px 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;

  &__title {
    margin: 9px 17px 0;
  }

  &__info {
    margin: 21px 0 15px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .slim-item {
    flex-direction: column;
    position: relative;
    padding: 77px 62px 53px 52px;
    margin-bottom: 30px;

    &__info {
      margin: 24px 0 48px 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .slim-item {
    width: 467px;
    padding: 41px 51px 55px 52px;
    margin: 0;
    flex-direction: row;
    position: static;

    &__info {
      margin: 39px 0 23px 0;
    }
  }
}
