.slim-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  &__wrapper {
    margin-left: 25px;
    overflow: hidden;
    display: inline-block;
  }

  &__arrow {
    transform: translateX(-5px);
  }

  &:hover {
    .slim-link__arrow {
      transform: translateX(0);
    }
  }

  &:active {
    opacity: 30%;

    .slim-link__arrow {
      transform: translateX(0);
    }
  }
}

@media (min-width: $tablet-width) {
  .slim-link {
    font-size: 20px;
    line-height: 30px;
    order: 4;
  }
}
