.email-container {
  position: relative;
  &__link {

  }
}
.input-email {
  margin: 0;
  padding: 14px 51px 14px 15px;
  border: 1px solid #CDCDCD;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }

}
