.input-phone {
  margin: 0;
  width: calc(100% - 68px);
  padding: 9px 51px 10px 15px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  outline: none;

  &::placeholder {
    text-transform: uppercase;
    color: #444444;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    border: 2px solid #444444;
  }

  &:invalid {
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    border: 2px solid #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .input-phone {
    padding: 10px 51px 10px 15px;
    font-size: 20px;
    line-height: 29px;
  }
}
