.phone-email-container {
  display: flex;
  flex-direction: column;

  &__email {
    margin: 0 20px 14px;
  }
}

@media (min-width: $tablet-width) {
  .phone-email-container {
    &__email {
      margin: -1px 67px 21px 71px;
    }

    .user-email:nth-child(2) {
      margin-left: 68px;
    }
  }
}

@media (min-width: $desktop-width) {
  .phone-email-container {
    flex-direction: row;
    justify-content: left;

    &__email {
      margin: -1px 10px 21px 111px;
    }
  }
}
