.phone-email-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  &__email {
    margin: 0 0 15px;
  }
}

@media (min-width: $tablet-width) {
  .phone-email-container {
    width: 768px;

    &__email {
      margin: -1px 67px 21px 71px;
    }

    .user-email:nth-child(2) {
      margin-left: 68px;
    }
  }
}

@media (min-width: $desktop-width) {
  .phone-email-container {
    flex-direction: row;
    justify-content: left;
    width: 1220px;

    &__email {
      margin: 0 0 0 1px;
    }

    .user-email:nth-child(2) {
      margin-left: 78px;
    }
  }
}
