.user-email {
  display: flex;
  align-items: baseline;
  &__title {
    margin: 0;
    margin-right: 11px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }
}
