.user-contacts {
  display: flex;
  flex-direction: column;

  &__head {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 42px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #68b738;
    }
  }

  &__title {
    margin: 0 auto;
    position: relative;
    margin-top: 27px;
    margin-bottom: 34px;
    font-family: inherit;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    width: 280px;

    span {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -20px;
      background-color: #ffffff;
      z-index: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-contacts {
    margin-bottom: 44px;

    &__head {
      &::before {
        top: 50px;
      }
    }

    &__title {
      margin: 28px auto 77px;
      font-size: 36px;
      line-height: 36px;
      width: 699px;
      padding-left: 69px;

      span {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: -40px;
      }

      span br {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .user-contacts {
    margin-bottom: 68px;

    &__head {
      &::before {
        top: 50px;
      }
    }

    &__title {
      margin: 28px auto 75px;
      width: 1330px;
      padding-left: 110px;
    }
  }
}
