.control-input:checked + .control-mark {
  background-image: url("../img/radiobutton.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px 14px;
}

.control-input:disabled + .control-mark {
  opacity: 30%;
}

.control-input:disabled + .control-mark + .control-input-name {
  opacity: 30%;
}

@media (min-width: $tablet-width) {
  .control-input:checked + .control-mark {
    background-size: 18px 18px;
  }
}
