.filter-radiobox {
  margin: 0;
  padding: 22px 20px 5px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .filter-radiobox {
    margin: 0;
    padding: 52px 67px 47px 71px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .filter-radiobox {
    min-width: 568px;
    padding: 0;
    margin-right: -2px;
  }
}
