.filter-title {
  display: flex;
  align-items: center;
  &__mark {
    margin-right: 15px;
  }
  &__name {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.control-mark{
  width: 28px;
  height:28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
