.filter-title {
  display: flex;
  align-items: center;

  &__mark {
    margin-right: 15px;
  }

  &__name {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 0;
  }

  &:hover .filter-title__mark {
    border-color: #bababa;
  }

  .filter-title__input:checked + .filter-title__mark {
    background-image: url("../img/radiobutton.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15px 15px;
  }

  .filter-title__input:focus + .filter-title__mark {
    border-color: #bababa;
  }

  .filter-title__input:disabled + .filter-title__mark {
    opacity: 30%;
  }

  .filter-title__input:disabled + .filter-title__mark + .filter-title__name {
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .filter-title {
    display: flex;
    align-items: center;

    .filter-title__input:checked + .filter-title__mark {
      background-size: 19px 19px;
    }

    &__mark {
      margin-right: 20px;
    }

    &__name {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
