.additional-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 53px;
  width: calc(100% - 106px);
  background-color: #68b738;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
