.search-list {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  min-width: 280px;

  &__term {
    margin: 0;
    padding: 0;
  }

  &__definition {
    margin: 0;
    padding: 0;
  }
}
