.promo-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
  }

  &__info {
    font-family: "Arial", sans-serif;
    color: #444444;
    margin: 0;
    margin-top: 41px;
  }

  &__price {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-top: 28px;
    margin-left: 46px;
    text-transform: uppercase;
  }

  &__price span {
    margin-left: 2px;
  }
}

@media (min-width: $tablet-width) {
  .promo-wrapper {
    flex-direction: row;
    width: 707px;

    &__title {
      font-size: 60px;
      line-height: 60px;
      margin: 0;
    }

    &__info {
      width: 700px;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      margin-top: 64px;
    }

    &__price {
      width: 179px;
      padding: 5px;
      font-size: 20px;
      line-height: 28px;
      margin: 0;
      margin-right: -4px;
      margin-top: 55px;
      text-align: end;
    }

    &__price span {
      margin-right: -1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-wrapper {
    width: 436px;
    flex-direction: column;

    &__info {
      width: 436px;
      margin: 0;
      margin-top: 146px;
    }

    &__price {
      width: 330px;
      margin: 0;
      margin-left: -3px;
      margin-top: 70px;
      text-align: start;
    }

    &__price span {
      margin-left: 60px;
    }
  }
}
