.promo {
  background-color: #eaeaea;
}

@media (min-width: $tablet-width) {
  .promo {
    background: linear-gradient(#ffffff 619px, #eaeaea 462px);
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background: linear-gradient(#ffffff 135px, #eaeaea 135px, #eaeaea 462px);
  }
}
