.promo-item {
  position: relative;

  &__label {
    width: 77px;
    left: 20px;
    top: 30px;
  }

  &:last-child {
    .promo-item__label {
      width: 59px;
      left: 32px;
      top: 30px;
    }

    .promo-item__value {
      padding: 9px 20px 10px;
    }
  }
}

@media (min-width: $tablet-width) {
  .promo-item {
    &__label {
      width: 114px;
      left: 23px;
      top: 47px;
    }

    &:last-child {
      .promo-item__label {
        width: 142px;
        left: 23px;
        top: 48px;
      }

      .promo-item__value {
        padding: 11px 29px 14px;
      }
    }
  }
}
