.promo-list {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;

  .promo-list__item:nth-child(2) .promo-list__promo-label {
    padding: 0 14px;
    margin-left: -14px;
  }
}

@media (min-width: $tablet-width) {
  .promo-list {
    width: 366px;
    margin: 0;
    margin-top: 69px;
    margin-bottom: 80px;

    .promo-list__item:nth-child(2) .promo-list__promo-label {
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-list {
    margin: 0;
    margin-top: 84px;
    margin-bottom: 0;
  }
}
