.promo {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

@media (min-width: $tablet-width) {
  .promo {
    justify-content: space-between;
    width: 707px;
    padding: 43px 31px 56px 30px;
    background: linear-gradient(#ffffff 619px, #eaeaea 462px);
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 1222px;
    padding: 43px 108px 65px 110px;
    background: linear-gradient(#ffffff 179px, #eaeaea 179px, #eaeaea 462px);
  }
}
