.promo-label {
  display: block;
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 87px;
  background-color: #eaeaea;
  color: #444444;
  text-align: center;
}
