.promo-item {
  position: relative;

  &__label {
    width: 77px;
    left: 20px;
    top: 30px;
  }

  &:last-child {
    .promo-item__label {
      width: 59px;
      left: 32px;
      top: 30px;
    }

    .promo-value {
      padding: 7px 20px 11px;
    }
  }
}

@media (min-width: $tablet-width) {
  .promo-item {
    &__label {
      width: 114px;
      left: 24px;
      top: 45px;
    }

    &:last-child {
      .promo-item__label {
        width: 142px;
        left: 10px;
        top: 42px;
      }

      .promo-value {
        padding: 14px 29px 11px;
      }
    }
  }
}
