.range-scale {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__button {
    margin-top: 8px;
    margin-left: -20px;
  }
}

@media (min-width: $tablet-width) {
  .range-scale {
    &__button {
      margin-top: 0;
    }
  }
}
