.range-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;

  &__icon {
    fill: #666666;
  }

  &__line-top {
    position: absolute;
    border-radius: 2px 2px 0 0;
    top: -110px;
    width: 4px;
    height: 108px;
    background-color: #666666;
  }

  &__line-bottom {
    position: absolute;
    border-radius: 0 0 2px 2px;
    bottom: -110px;
    width: 4px;
    height: 108px;
    background-color: #666666;
  }

  &:hover {
    border-color: #68b738;

    .range-button__line-top,
    .range-button__line-bottom {
      background-color: #68b738;
    }

    .range-button__icon {
      fill: #68b738;
    }
  }

  &:active {
    opacity: 60%;
  }
}

@media (min-width: $tablet-width) {
  .range-button {
    &__line-top {
      top: -238px;
      height: 236px;
    }

    &__line-bottom {
      bottom: -238px;
      height: 236px;
    }
  }
}
