.result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .result-wrapper {
    margin: 0 73px 0 74px;
  }
}

@media (min-width: $desktop-width) {
  .result-wrapper {
    margin: 0;
  }
}
