.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px 17px;
  min-width: 280px;
}

@media (min-width: $tablet-width) {
  .logo-container {
    min-width: 174px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .logo-container {
    min-width: 202px;
    padding: 0;
  }
}
