.adress-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 26px;
  &__invitation {
    width: 140px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
  }
  &__address {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 141px;
    margin: 0;
    color: #444444;
  }
}

.address {
  &__address2 {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
