.adress-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 26px;

  &__invitation {
    width: 140px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
  }
}
