.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font: inherit;
  margin: 0 auto;
  max-width: 320px;
}

@media (min-width: $tablet-width) {
  .main-header {
    flex-direction: row;
    align-items: end;
    max-width: 708px;
    min-width: 708px;
    padding: 24px 30px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    min-width: 1220px;
    max-width: 1220px;
    max-height: 670px;
    padding: 54px 110px 0;

    &--bg {
      background: url("../img/main-header.png") no-repeat;
      background-position-x: 720px;
    }
  }
}
