@use "./fonts.scss";
@use "./blocks/body.scss";
@use "./blocks/visually-hidden.scss";
@use "./blocks/header/main-header.scss";
@use "./blocks/header/logo-container/logo-container.scss";
@use "./blocks/header/main-nav/main-nav.scss";
@use "./blocks/location/location.scss";
@use "./blocks/location/adress-info.scss";
@use "./blocks/location/map.scss";
@use "./blocks/footer/footer.scss";
@use "./blocks/footer/footer-logo.scss";
@use "./blocks/footer/social-list.scss";
@use "./blocks/footer/copyright-link.scss";
@use "./blocks/main-container/main-container.scss";
@use "./blocks/main-container/program-selection/choice-container/choice-container.scss";
@use "./blocks/main-container/program-selection/choice-container/choice-program.scss";
@use "./blocks/main-container/program-selection/choice-container/choice-promo.scss";
@use "./blocks/main-container/program-selection/slim-list/slim-container.scss";
@use "./blocks/main-container/program-selection/slim-list/slim-list.scss";
@use "./blocks/main-container/program-selection/slim-list/slim-item.scss";
@use "./blocks/main-container/program-selection/slim-list/slim-wrapper.scss";
@use "./blocks/main-container/program-selection/advantage/advantage.scss";
@use "./blocks/main-container/program-selection/advantage/advantage-list.scss";
@use "./blocks/main-container/program-selection/advantage/advantage-item.scss";
@use "./blocks/main-container/program-selection/advantage/advantage-image.scss";
@use "./blocks/main-container/promo/promo.scss";
@use "./blocks/main-container/promo/promo-list.scss";
@use "./blocks/main-container/promo/promo-item.scss";
@use "./blocks/main-container/promo/promo-result.scss";
@use "./blocks/main-container/promo/slider-list.scss";
@use "./blocks/main-container/promo/range-scale.scss";
@use "./blocks/main-container/promo/range-toggle.scss";
@use "./blocks/main-catalog/main-catalog.scss";
@use "./blocks/main-catalog/catalog-list-container/catalog-list.scss";
@use "./blocks/main-catalog/catalog-list-container/item-wrapper.scss";
@use "./blocks/main-catalog/catalog-list-container/catalog-item.scss";
@use "./blocks/main-catalog/catalog-list-container/card-img.scss";
@use "./blocks/main-catalog/catalog-list-container/title-wrapper.scss";
@use "./blocks/main-catalog/catalog-list-container/info-title.scss";
@use "./blocks/main-catalog/catalog-list-container/info-list.scss";
@use "./blocks/main-catalog/catalog-list-container/info-item.scss";
@use "./blocks/main-catalog/catalog-list-container/card-button.scss";
@use "./blocks/main-catalog/catalog-list-container/new-item.scss";
@use "./blocks/main-catalog/catalog-list-container/new-item-wrapper.scss";
@use "./blocks/main-catalog/catalog-list-container/new-title.scss";
@use "./blocks/main-catalog/additional-container/additional.scss";
@use "./blocks/main-catalog/additional-container/additional-list.scss";
@use "./blocks/main-catalog/additional-container/additional-item.scss";
@use "./blocks/main-catalog/additional-container/search-list.scss";
@use "./blocks/main-catalog/additional-container/additional-wrapper.scss";
@use "./blocks/main-catalog/additional-container/advertising/advertising.scss";
@use "./blocks/main-catalog/additional-container/advertising/advertising-link.scss";
@use "./blocks/main-form/main-form.scss";
@use "./blocks/main-form/form-wrapper/form-wrapper.scss";
@use "./blocks/main-form/form-user/user-data/name-weight-container/name-weight-container.scss";
@use "./blocks/main-form/form-user/user-data/name-weight-container/user-name.scss";
@use "./blocks/main-form/form-user/user-data/name-weight-container/form-name-container.scss";
@use "./blocks/main-form/form-user/user-data/filter-radiobox/filter-radiobox.scss";
@use "./blocks/main-form/form-user/user-data/filter-radiobox/filter-list.scss";
@use "./blocks/main-form/form-user/user-data/filter-radiobox/filter-item.scss";
@use "./blocks/main-form/form-user/user-data/filter-radiobox/filter-title.scss";
@use "./blocks/main-form/form-user/user-data/user-contacts/user-contacts.scss";
@use "./blocks/main-form/form-user/user-data/user-contacts/user-email.scss";
@use "./blocks/main-form/form-user/user-data/user-contacts/phone-email-container.scss";
@use "./blocks/main-form/form-user/user-data/user-contacts/email-container.scss";
@use "./blocks/main-form/form-user/user-data/user-contacts/email-icon.scss";
@use "./blocks/main-form/form-user/user-data/user-contacts/phone-icon.scss";
@use "./blocks/main-form/form-user/user-data/user-comment/user-comment.scss";
@use "./blocks/main-form/form-user/user-data/user-additionally/user-additionally.scss";
@use "./blocks/main-form/form-user/user-data/user-additionally/checkbox-list.scss";
@use "./blocks/main-form/form-user/user-data/user-additionally/checkbox-item.scss";
@use "./blocks/main-form/form-user/user-data/user-additionally/checkbox-title.scss";
@use "./blocks/main-form/form-user/user-data/button-container/button-container.scss";
