.form-name-container {
  flex-grow: 1;
}

.form-style {
  width: calc(100% - 32px);
  margin: 0;
  padding: 14px 15px;
  border: 1px solid #e7e7e7;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }
}
