.name-weight-container {
  padding: 0;
  border-bottom: 1px solid #d9d9d9;

  &__name {
    margin-bottom: 14px;
  }
}

@media (min-width: $tablet-width) {
  .name-weight-container {
    padding: 0;
    border-bottom: none;

    &__name {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .name-weight-container {
    min-width: 569px;
  }
}
