.user-name {
  display: flex;
  align-items: baseline;
  &__name {
    margin: 0;
    margin-right: 13px;
  }
}

.appointment-style {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #444444;
}
