.footer-logo {
  padding: 39px 76px 32px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  width: 128px;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

@media (min-width: $tablet-width) {
  .footer-logo {
    padding: 0;
    border: none;

    &__img {
      width: 128px;
      height: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer-logo {
    margin: 0;
  }
}
