.social-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 128px;
  padding: 20px 78px 17px 74px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  list-style-type: none;

  &--catalog {
    margin-left: -2px;
  }

  &__item:nth-child(2) {
    margin-left: -4px;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
    padding: 0;
    width: 127px;
    border: none;
    margin-top: 4px;
    margin-left: 22px;

    &--catalog {
      margin-left: 23px;
    }

    &__item:nth-child(1) {
      margin-left: -1px;
    }

    &__item:nth-child(2) {
      margin-left: -6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    margin: 0;
    margin-top: 1px;
    margin-left: 26px;
    padding: 0;

    &--catalog {
      margin-left: 25px;
    }
  }
}
