.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &__wrapper {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    min-width: 440px;
    max-width: 440px;

    &__wrapper {
      display: block;
    }

    &__toggle {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-width: 478px;
    max-width: 478px;
  }
}
