.main-nav {
  position: relative;
  width: 100%;
  z-index: 3;

  &__toggle {
    top: -46px;
    right: 21px;
  }

  &__wrapper {
    background: #ffffff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &--closed {
    .main-nav__toggle {
      background: url("../img/but-open.svg") right center no-repeat;
    }

    .main-nav__wrapper {
      display: none;
    }
  }

  &--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper {
      display: block;
      position: relative;
    }
  }

  &--opened {
    .main-nav__toggle {
      background: url("../img/but-close.svg") right center no-repeat;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    width: 440px;
    margin-top: 15px;
    padding: 0;

    &__toggle {
      display: none;
    }

    .main-nav__wrapper {
      background: transparent;
      display: block;
      position: relative;
    }

    &--catalog {
      margin-top: 13px;
    }

    &--form {
      margin-top: 14px;

      .main-nav__item:nth-child(2) {
        margin-left: -4px;
      }

      .main-nav__item:nth-child(3) {
        margin-right: 2px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-width: 478px;
    max-width: 478px;
    margin-top: 6px;

    &__wrapper {
      display: block;
      position: relative;
    }

    &--catalog {
      margin-top: 9px;
      margin-right: 1px;

      .main-nav__item:nth-child(1) {
        margin-left: -1px;
      }

      .main-nav__item:nth-child(3) {
        margin-right: -1px;
      }
    }

    &--form {
      margin-top: 9px;
      margin-right: 1px;

      .main-nav__item:nth-child(1) {
        margin-left: -1px;
      }

      .main-nav__item:nth-child(2) {
        margin-left: 0;
      }

      .main-nav__item:nth-child(3) {
        margin-right: -1px;
      }
    }
  }
}
