.user-comment {
  padding: 0 0 21px;

  &__title {
    margin: 0;
    margin-left: 20px;
    position: relative;
    margin-bottom: 37px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 0;
      height: 2px;
      width: 158px;
      background-color: #68b738;
    }
  }

  &__textarea {
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    resize: none;
    width: 251px;
    height: 131px;
    padding: 8px 12px 9px 15px;
    border: 1px solid #e7e7e7;
    color: #444444;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__textarea::placeholder {
    text-transform: uppercase;
    color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .user-comment {
    padding: 0 0 62px;

    &__title {
      margin-left: 0;
      margin-bottom: 76px;
      font-size: 36px;
      line-height: 36px;
      padding-left: 69px;

      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: 0;
        height: 2px;
        width: 30px;
        background-color: #68b738;
      }

      &::after {
        top: 22px;
        right: 0;
        width: 478px;
      }
    }

    &__textarea {
      margin-left: 70px;
      width: 591px;
      height: 152px;
      padding: 10px 19px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-comment {
    padding: 0 0 64px;

    &__title {
      padding-left: 110px;

      &::before {
        left: 0;
        width: 70px;
      }

      &::after {
        right: 0;
        width: 1108px;
      }
    }

    &__textarea {
      margin-left: 110px;
      padding: 9px 19px;
      width: 1180px;
      height: 154px;
    }
  }
}
