.main-catalog {
  flex-grow: 1;

  &__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 20px 0 41px 20px;
  }
}

@media (min-width: $tablet-width) {
  .main-catalog {
    &__title {
      font-size: 60px;
      line-height: 60px;
      margin: 0;
      padding: 64px 0 82px 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-catalog {
    &__title {
      padding: 74px 110px 84px;
    }
  }
}
